.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
  @media only screen and (max-width: 780px) {
    .main-text {
        position: relative;
      left:0px !important;
    }
   
      .img {
         width:240px !important;
         height: 250px;
      }
  }